.item {
    background    : #ddd;
    width         : 20px;
    height        : 20px;
    line-height   : 20px;
    text-align    : center;
    display       : inline-block;
    margin        : 2px;
    border-radius : 2px;
    font-size     : 14px;
    color         : #5A5A5A;
    box-sizing    : border-box;
    cursor        : default;
    user-select   : none;
}
button {
    font-size    : 16px;
    margin-right : 8px;
}
